<%- include ('partials/top') %>
<div class="row py-4">
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/categories" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-object-group icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Categories</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/properties" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-building-o icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Properties</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/orders" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-shopping-bag icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Orders</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/customers" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-id-badge icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Customers</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/users" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-users icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Users</p>  
      </div>
    </a>
  </div>
</div>


<%- include('partials/bottom') %>
